* {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.randomNumberButton {
  margin-top: 2vh;
  padding: 5px 5px 5px 5px;
}
