* {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: white;
}

.container {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoLink {
  padding-top: 5vh;
}

.randomNumberButton {
  margin-top: 1vh;
  padding: 5px 5px 5px 5px;
}

.randomNumberCard {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw 1vh 1vw;
}

.footer {
  height: 5vh;
  display: flex;
  align-items: flex-end;
}

.sig {
  padding-left: 2px;
  padding-bottom: 2px;
}
